:root {
  --border-width: 1px;
}

* {
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
  gap: 10px;
}

.nav-container .nav-item {
  border: 1px solid;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 1em;
}

.nav-container .active {
  background-color: blue;
  color: white;
}

.page-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.page-container .date {
  flex-basis: 100%;
  border: 1px solid;
  padding: 5px;
}

.card-container {
  display: flex;
  /* gap: 10px; */
  flex-basis: 100%;
  flex-flow: row wrap;
}

#tab-games .card {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid;
  flex: 1 0;
  flex-basis: calc(50% - 10px);
  max-width: calc(50% - 10px);
  /* min-width: 400px; */
  justify-content: space-between;
}

ul {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

/* TAB NEWS */

#tab-news .card {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid;
  padding: 15px;
  /* max-width: calc(100% - 10px); */
  flex: 1 0;
  border-radius: 3px;
  flex-basis: 100%;
  justify-content: space-between;
}

.card .card-item {
  padding: 0;
}

/* TAB STANDINGS */

#standings-cards {
  gap: 0;
  margin: 0;
}

#standings-cards * {
  margin-bottom: calc(0px - var(--border-width));
}

.season-container {
  display: flex;
  flex-basis: 100%;
  padding: 10px;
  border: 1px solid;
}

.season {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.season * {
  font-size: 15px;
}

.season div {
  font-size: 18px;
}

.season-list {
  position: relative;
  border: none;
  right: 5px;
  color: blue;
  background: none;
}

.conference {
  display: flex;
  flex-basis: 100%;
  margin-bottom: 0;
}

.conference * {
  text-align: center;
  flex-basis: 100%;
  font-size: 20px;
  border: 1px solid;
  cursor: pointer;
  padding: 10px 0;
}

.conference .eastren {
  margin-right: calc(0px - var(--border-width));
}

.example,
.standings {
  display: flex;
  flex-basis: 100%;
  border: 1px solid;
  border-top: 0;
  gap: 30px;
  padding: 10px;
  justify-content: flex-end;
  /* margin-bottom: 0; */
}

.standings {
  gap: 34px;
}

#d {
  position: absolute;
  left: 23px;
}

#a {
  position: absolute;
  right: 472px;
}

#c {
  position: absolute;
  right: 430px;
}
